# Environment
.env

# Database
*.db
*.sqlite

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
venv/
.venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Alembic
alembic/versions/*.pyc

# Test output
test-results.xml